---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import SectionContainer from '../components/SectionContainer.astro';
import TitleSection from '../components/TitleSection.astro';
import Experience from '../components/Experience.astro';
import Education from '../components/Education.astro';
import Particles from '../components/Particles.astro';
import Projects from '../components/Projects.astro';
---

<Layout
  title="Iván Sotillo - Software Engineer & AI Researcher"
>
  <Particles />
  <main class="px-4">
    <div class="flex flex-col space-y-8">
      <SectionContainer class="mt-16 md:mt-48">
        <Hero />
      </SectionContainer>

      <SectionContainer id="experience">
        <TitleSection>Experience</TitleSection>
        <Experience />
      </SectionContainer>

      <SectionContainer id="education">
        <TitleSection>Education</TitleSection>
        <Education />
      </SectionContainer>

      <SectionContainer id="projects">
        <TitleSection>Projects</TitleSection>
        <Projects />
      </SectionContainer>

      <SectionContainer id="publications">
        <TitleSection>Publications</TitleSection>
        <!-- Publications content -->
      </SectionContainer>

      <SectionContainer id="achievements">
        <TitleSection>Achievements</TitleSection>
        <!-- Achievements content -->
      </SectionContainer>

      <SectionContainer id="contact-me">
        <TitleSection>Contact Me</TitleSection>
        <!-- Contact content -->
      </SectionContainer>
    </div>
  </main>
</Layout>
