---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Welcome to Astro.">
	<section class="w-full lg:w-[853px] mx-auto py-36">
		<h1 class="secondary-100">
			Hi!
			<br />
			My name is <span class="text-highlight">Iván Sotillo</span>
		</h1>
		
		<h2 class="text-secondary-200">computer science engineer</h2>

		<p class="text-wrap text-secondary-300">
			Currently pursuing a <span class="text-red-300">Master’s in Data Science</span> with a Bachelor's in
			Computer Science Engineering. 
			<br />
			Proficient in Python, C, Kotlin, SQL
			and Java amongst others. Focused on leveraging data structures,
			algorithms, and advanced data science techniques to drive innovative
			solutions and solve complex problems.
		</p>
	</section>
</Layout>
