<h1 class="flex gap-x-2 items-center text-4xl lg:text-6xl">
    <img class="size-8 lg:size-12" src="../images/person-raising-hand.png" />
    About
</h1>

<p class="text-pretty mt-4 text-secondary-200 max-w-2xl">
    My name is Iván. I have always been passionate about creating and understanding how things work. When I was a kid, my grandma would hide screwdrivers so my sister and I wouldn’t take apart everything we saw. That curiosity, paired with my love for technology, led me to study computer science engineering.
<br/>
<br/>
I also have a deep love for the arts. I play the guitar, write songs, and enjoy photography. This artistic side makes me pay attention to details and strive to make things aesthetically pleasing (that's also why I’m preparing this in Figma before developing!).
</p>