---
import AchievementItem from "./AchievementItem.astro";
import { ACHIEVEMENTS } from "../data/credentials";
---

<ol class="relative">
  {
    ACHIEVEMENTS.map((ach) => (
      <li>
        <AchievementItem {...ach} />
      </li>
    ))
  }
</ol>
