<div class="inline-flex items-center justify-center p-[2px] relative overflow-hidden rounded-md hover:scale-[1.02] transition-transform duration-200 cursor-pointer shadow-sm">
  <span class="absolute inset-[-1000%] animate-[spin_2s_linear_infinite] bg-[conic-gradient(from_90deg_at_50%_50%,#51E4B8_0%,#21554E_50%,#51E4B8_100%)]"></span>
  <div class="inline-flex items-center justify-center gap-2 h-full w-full px-4 py-2 text-sm font-mono tracking-widest uppercase rounded-md bg-white/95 dark:bg-zinc-900/95 backdrop-blur-md text-zinc-900 dark:text-zinc-100">
    <slot />
  </div>
</div>
