---
import Badge from "./Badge.astro";
import Button from "./Button.astro";
import MailIcon from "./icons/MailIcon.astro";
import GitHubIcon from "./icons/GitHubIcon.astro";
import LinkedInIcon from "./icons/LinkedInIcon.astro";
import PDFIcon from "./icons/PDFIcon.astro";
---

<p class="text-zinc-600 dark:text-zinc-300 max-w-2xl text-balance">
  I’m open to software engineering roles, research collaborations, freelance
  projects and open-source contributions. Feel free to reach out to me via email
  or through my social media profiles below!
</p>

{/* quick links */}
<nav class="flex flex-wrap gap-2 mt-8">
  <a href="mailto:ivandelhorno@gmail.com" target="_blank" rel="noopener">
    <Badge>
      <MailIcon />
      Open to Work
    </Badge>
  </a>

  <Button href="https://www.github.com/LittleHaku">
    <GitHubIcon />
    GitHub
  </Button>
  <Button href="https://www.linkedin.com/in/ivansotillo/">
    <LinkedInIcon />
    LinkedIn
  </Button>
  <Button href="/Iván_Sotillo_CV.pdf">
    <PDFIcon />
    Download CV
  </Button>
</nav>
