<h1 class="flex gap-x-2 items-center text-4xl lg:text-6xl">
    <img
        class="size-8 lg:size-12"
        src="../images/graduation-cap_1f393.webp"
    />
    Education
</h1>

<h2 class="text-3xl lg:text-5xl mt-10">Formal Education</h2>

<h3 class="text-2xl lg:text-4xl mt-5">Bachelor in Computer Science Engineering</h3>

<p>
    Universidad Autónoma de Madrid (UAM), Spain. 2020-2024.
    <br />
    One semester in the University of Helsinki, Finland. Sept 2023 - Dec 2023.
    <br />
    <span>Achievements:</span> Excellence Scholarship, Average Grade: 8.25/10.
    <br />
    <span>Overview:</span>
</p>

<ul class="list-disc space-y-1 list-inside text-pretty">
    <li>
        Acquired comprehensive knowledge in <span>mathematics</span>, including
        calculus and algebra, and computer science fundamentals, starting from
        the physics of transistors, moving through <span
            >computer architectures</span
        > and assembly language, up to operating systems and <span
            >parallel computing</span
        >.
    </li>
    <li>
        eveloped a strong understanding of computer <span>networks</span>,
        including TCP/IP, network layers, and protocols, as well as <span
            >server management</span
        >, IoT and related technologies
    </li>
    <li>
        Gained proficiency in <span>algorithm analysis</span>, <span
            >data structures</span
        >, logic, and discrete structures, which are essential for effective
        software design and development.
    </li>
    <li>
        Enhanced skills in <span>artificial intelligence</span> and machine learning,
        from creating basic models like McCulloch-Pitts neurons and perceptrons to
        advanced machine learning algorithms.
    </li>
    <li>
        Gained extensive experience in <span
            >software development lifecycle</span
        >, from design and development to thorough <span>documentation</span> and
        <span>testing</span>, utilizing
        <span>Git</span> for version control.
    </li>
    <li>
        Enhanced team management skills by applying <span>SCRUM</span> and other
        <span>agile methodologies</span> to manage projects and collaborate effectively
        in a team environment.
    </li>
</ul>

<h3 class="text-2xl lg:text-4xl mt-5">Master in Data Science</h3>
<p>Universidad Autónoma de Madrid, Spain. 2024-2025.</p>

<h2 class="text-3xl lg:text-5xl mt-10">Additional Education</h2>

<h3 class="text-2xl lg:text-4xl mt-5">Sino-Euro Spring School 2024</h3>
<p class="text-pretty">
    Northwestern Polytechnical University (NPU), Xi’an, China.
    <br />
    Participated in a two-week scholarship program in China, where I had the chance
    to explore science and engineering subjects while immersing myself in a new cultural
    experience.
</p>

<h3 class="text-2xl lg:text-4xl mt-5">Community Manager and Marketing</h3>
<p>100 Hours. Consultora Monte Alto. 2020.</p>

<h3 class="text-2xl lg:text-4xl mt-5">ASP.NET</h3>
<p>40 Hours. Aspasia. 2019.</p>

<h3 class="text-2xl lg:text-4xl mt-5">Arduino</h3>
<p>40 Hours. Universidad Pontificia de Comillas. 2018.</p>

<style>
    h1 {
        color: theme(colors.secondary-100);
    }
    h2 {
        color: theme(colors.secondary-100);
    }
    h3 {
        color: theme(colors.secondary-200);
    }
    p {
        color: theme(colors.secondary-300);
    }
    ul {
        color: theme(colors.secondary-300);
    }
    span {
        color: theme(colors.red-300);
    }
</style>
