---
import EducationItem from "./EducationItem.astro"

const EDUCATION = [
  {
    date: "Sept 2024 – Sept 2025",
    institution: "Universidad Autónoma de Madrid",
    degree: "MSc Data Science",
    description: "GPA: 8.41/10. Awarded Highest Honors in Recommendation Systems. Awarded a 10.0/10.0 on my Thesis and got it published: Automated Exploration of Conversational Agents for the Synthesis of Testing Profiles.",
    link: "https://link.springer.com/chapter/10.1007/978-3-032-05188-2_14",
    courses: ["Machine Learning", "Natural Language Processing", "Deep Learning" ]
  },
  {
    date: "Spring 2024",
    institution: "Northwestern Polytechnical University (China)",
    degree: "Spring School",
    description: "Participated in an intensive program focused on science and engineering topics, including lectures and hands-on projects.",
    link: "https://www.linkedin.com/feed/update/urn:li:activity:7191379886375157760/",
    courses: ["Gray Systems Theory"]
  },
  {
    date: "Sept 2023 - Dec 2023",
    institution: "University of Helsinki",
    degree: "Exchange Program",
    description: "Completed advanced courses in Artificial Intelligence, Business, and Algorithms.",
    courses: ["Artificial Intelligence", "Business", "Algorithms"]
  },
  {
    date: "Sept 2020 – June 2024",
    institution: "Universidad Autónoma de Madrid",
    degree: "BSc Computer Science Engineering (Bilingual)",
    description: "GPA: 8.31/10. Awarded Highest Honors in Data Structures and Mobile App Development. Received Excellence Scholarships in 2nd and 4th year.",
    courses: ["Algorithms", "Software Engineering", "Databases"]
  },
]
---


<ol class="relative">
  {EDUCATION.map(item => (
    <li>
      <EducationItem {...item} />
    </li>
  ))}
</ol>
