---
import EducationItem from "./EducationItem.astro"
import { EDUCATION } from "../data/credentials";
---


<ol class="relative">
  {EDUCATION.map(item => (
    <li>
      <EducationItem {...item} />
    </li>
  ))}
</ol>
