---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Dec 2024 - Present",
    title: "Researcher",
    company: "MISO - UAM",
    description:
      "Developed \"TRACER\", a tool that uses LLMs to have conversations with chatbots and models their functionalities, then with the generated model, it creates user profiles that can be run against the chatbot to test its behavior. All of this can be executed inside \"Chatbot Dojo\", a web application that allows users to easily run TRACER and SENSEI.",
    link: "http://miso.ii.uam.es:8081/",
    techs: ["LangGraph", "React", "Django", "Python"],
  },
]
---

<ol class="relative">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
