---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Dec 2024 - Present",
    title: "Researcher",
    company: "MISO - UAM",
    description:
      "Researching chatbot testing techniques.",
    //link: "https://www.miso.es/",
    techs: ["LangGraph", "React", "Django", "Python"],
  },
]
---

<ol class="relative">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
