---
import GitHubIcon from "./icons/GitHubIcon.astro"

const currentYear = new Date().getFullYear()
---

<footer
  class="opacity-80 mt-16 mb-10 w-full flex justify-center"
>
  <div
    class="flex flex-col items-center text-center gap-2 px-4 py-4
           rounded-lg max-w-3xl w-full"
  >
    <span class="text-sm text-zinc-800/90 dark:text-zinc-200/90">
      &copy; {currentYear} · Made with <span class="text-rose-500">♥</span> by
      <a
        href="mailto:ivandelhorno@gmail.com"
        target="_blank"
        rel="noopener"
        class="font-medium hover:underline hover:text-zinc-900 dark:hover:text-white transition-colors"
      >
        Iván Sotillo
      </a>
    </span>

    <a
      href="https://github.com/LittleHaku/portfolio"
      target="_blank"
      rel="noopener"
      class="text-xs text-zinc-600 dark:text-zinc-400 hover:text-zinc-900 dark:hover:text-zinc-200 transition-colors underline underline-offset-2"
    >
    <GitHubIcon class="inline-block w-4 h-4 ml-1 mb-0.5" />
      View source on GitHub →

    </a>
  </div>
</footer>
