---
import GitHubIcon from "../icons/GitHubIcon.astro";
import LinkedInIcon from "../icons/LinkedInIcon.astro";
---

<footer class="bg-primary-100 rounded-lg shadow m-4">
    <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
        <hr
            class="my-6 border-secondary-300 sm:mx-auto dark:border-gray-700 lg:my-8"
        />

        <div class="flex justify-center items-center flex-row gap-x-2">
            <a href="#top" class="hover:scale-110">
                <img
                    src="/images/Logo_Dark.webp"
                    alt="Logo"
                    class="w-auto h-5 sm:h-6"
                />
            <a href="https://github.com/LittleHaku" target="_blank"
                ><GitHubIcon class="hover:scale-110 size-8" /></a
            >
            <a href="https://www.linkedin.com/in/ivandhs/" target="_blank"
                ><LinkedInIcon class="hover:scale-110 size-8" /></a
            >
        </div>
    </div>
</footer>
