---
import LinkInline from './LinkInline.astro';

const navItems = [
  { name: 'experience',   href: '#experience' },
  { name: 'education',    href: '#education' },
  { name: 'projects',     href: '#projects' },
  { name: 'publications', href: '#publications' },
  { name: 'achievements', href: '#achievements' },
  { name: 'contact me',   href: '#contact-me' },
];
---


<header class="fixed top-0 z-10 w-full mt-2">
  <nav
    class="mx-auto max-w-xl flex items-center justify-center
           px-4 py-2 rounded-full
           bg-white/30 dark:bg-zinc-900/30
           backdrop-filter backdrop-blur
           border border-zinc-200/50 dark:border-zinc-700/50
           text-zinc-800 dark:text-zinc-200 text-sm font-normal
           gap-4 shadow-sm"
  >
    {navItems.map(item => (
      <LinkInline href={item.href}>
        {item.name}
      </LinkInline>
    ))}
  </nav>
</header>
