---
import LinkInline from './LinkInline.astro';

const navItems = [
  { name: 'experience',   href: '#experience' },
  { name: 'education',    href: '#' },
  { name: 'projects',     href: '#' },
  { name: 'publications', href: '#' },
  { name: 'achievements', href: '#' },
  { name: 'contact me',   href: '#' },
];
---


<header class="fixed top-0 z-10 flex items-center justify-center w-full mx-auto mt-2">


    <nav
    class="flex gap-4 px-3 text-sm font-normal rounded-full
         text-gray-600 dark:text-gray-200 justify-center items-center"
    >
    {navItems.map(item => (
        <LinkInline href={item.href}>
          {item.name}
        </LinkInline>
      ))}
    </nav>

</header>
