---
const LINKS = [
    { href: "#education", text: "education" },
    { href: "#projects", text: "projects" },
    { href: "#about", text: "about" },
    { href: "#contact", text: "contact" },
];
---

<header
    class="bg-primary-400 2xl:bg-transparent flex transition sticky top-0 start-0 justify-between text-right items-center w-full 2xl:w-11/12 max-w-screen-2xl mx-auto py-4 2xl:py-8 px-4 2xl:px-0"
>
    <a href="#top">
        <img
            class="w-28 h-full md:40 2xl:w-52"
            src="/public/images/Logo_Dark.webp"
            alt="Ivan Logo"
        />
    </a>
    <nav class="flex flex-row 2xl:flex-col gap-1">
        {
            LINKS.map(({ href, text }) => (
                <a
                    href={href}
                    class="hover:text-highlight transition text-sm sm:text-sm md:text-base current:text-red-300"
                    use:scroll-class
                >
                    {text}
                </a>
            ))
        }
    </nav>
</header>

<script>
    window.addEventListener('scroll', function() {
        const sections = document.querySelectorAll('section');
        const links = document.querySelectorAll('nav a');

        sections.forEach(section => {
            const sectionTop = section.offsetTop;
            const sectionHeight = section.offsetHeight;

            // since about and contact will never be at the top of the page (they are small), i added window.innerHeight so
            // that the active class is added when the section appears just appearing at the bottom of the screen
            if (window.scrollY + window.innerHeight >= sectionTop && window.scrollY < sectionTop + sectionHeight) {
                                const id = section.getAttribute('id');
                links.forEach(link => {
                    if (link.getAttribute('href') === `#${id}`) {
                        link.classList.add('text-red-300');
                    } else {
                        link.classList.remove('text-red-300');
                    }
                });
            }
        });
    });
</script>