---
import Badge from '../components/Badge.astro';
import Button from '../components/Button.astro';
import SocialPill from '../components/SocialPill.astro';
import LinkInline from '../components/LinkInline.astro';
---

<div class="flex gap-4 mb-4">
    <h1 class="font-serif text-4xl md:text-7xl">IVÁN SOTILLO.</h1>
</div>

<h2 class="font-serif text-4xl md:text-5xl w-full italic">Software Engineer & AI Researcher</h2>

<p class="w-full text-gray-600 font-light text-lg md:text-2xl mt-4 max-w-3xl">
    Currently researching at the <LinkInline href="https://www.miso.es/">MISO Lab</LinkInline>.
</p>

<nav class="flex flex-wrap gap-2 mt-8">
    <a href="mailto:ivandelhorno@gmail.com" target="_blank" rel="noopener">
        <Badge>Open to Work</Badge>
    </a>

    <SocialPill href="https://www.github.com/LittleHaku">GitHub</SocialPill>
    <SocialPill href="https://www.linkedin.com/in/ivansotillo/">LinkedIn</SocialPill>
    <SocialPill href="/Iván_Sotillo_CV.pdf">Download CV</SocialPill>

</nav>
