---
import Badge from '../components/Badge.astro';
import Button from '../components/Button.astro';
---

<h1 class="font-serif text-6xl md:text-7xl w-full">IVÁN SOTILLO.</h1>
<h2 class="font-serif text-4xl md:text-5xl w-full">Software Engineer & AI Researcher</h2>
<a
    href="mailto:ivandelhorno@gmail.com"
    target="_blank"
    rel="noopener"
    class="inline-flex items-center transition md:hover:scale-105">
    <Badge>Open to Work</Badge>
</a>
