---
import ProjectItem from "./ProjectItem.astro";

const PROJECTS: any[] = [
  {
    title: "TRACER",
    description:
      "Built a tool that using LLMs, holds a conversation with a chatbot to model its behaviour. From these conversations it generates a model of the chatbot's functionalities, finally, it builds different DSL user profiles that can be used to test the chatbot's behavior under various scenarios.",
    techs: ["LangGraph", "NLP", "Python"],
    screenshotSrc: "/screenshots/tracer.png",
    liveLink: "https://pypi.org/project/chatbot-tracer/",
    githubLink: "https://github.com/Chatbot-TRACER/TRACER",
    type: "Professional",
  },
  {
    title: "Chatbot Dojo",
    description:
      "Developed a web app that integrates TRACER and SENSEI tools. TRACER models a chatbot and generates user profiles, while SENSEI runs these profiles against the chatbot to evaluate its behavior. The frontend was done with React, while the backend was built with Django. ",
    techs: ["Django", "React", "Docker", "Celery", "PostgreSQL"],
    screenshotSrc: "/screenshots/chatbot-dojo.png",
    liveLink: "http://miso.ii.uam.es:8081/",
    videoLink: "https://www.youtube.com/watch?v=dFsbN1FKGVg",
    githubLink: "https://github.com/satori-chatbots/chatbot-dojo",
    type: "Professional",
  },
  {
    title: "Obsidian Smart Export",
    description:
    "Obsidian plugin (600+ downloads) that exports multiple linked notes into a single document. This allows to aggregate all the notes of a given topic into a single document for printing, studying, or LLM analysis. To do this, users select a root note and a link depth, then the wikilinks are explored in a BFS (Breadth-First Search) way until the given depth aggregating all the notes together.",
    screenshotSrc: "/screenshots/obsidian-smart-export.png",
    techs: ["TypeScript", "BFS", "Obsidian"],
    githubLink: "https://github.com/LittleHaku/obsidian-smart-export",
    type: "Personal"
  },
  {
    title: "U.D.I.N.",
    description: "Windows desktop application developed for a team of mechanical engineers that lets them input all the data related to a vehicle, the modifications they have suffered, based on that different data will be asked. Finally, all the Word documents needed for the homologation will be generated.",
    screenshotSrc: "/screenshots/UDIN.png",
    techs: ["C#", "WPF"],
    type: "Professional",
  }
];
---

<div class="grid gap-8 md:grid-cols-2">
  {PROJECTS.map((project) => <ProjectItem {...project} />)}
</div>
