---
import ProjectItem from "./ProjectItem.astro";

const PROJECTS: any[] = [
  {
    title: "TRACER",
    description:
      "Built a tool that using LLMs, holds a conversation with a chatbot to model its behaviour. From these conversations it generates a model of the chatbot's functionalities, finally, it builds different DSL user profiles that can be used to test the chatbot's behavior under various scenarios.",
    techs: ["LangGraph", "NLP", "Python"],
    screenshotSrc: "/screenshots/tracer.webp",
    liveLink: "https://pypi.org/project/chatbot-tracer/",
    githubLink: "https://github.com/Chatbot-TRACER/TRACER",
    type: "Professional",
  },
  {
    title: "Chatbot Dojo",
    description:
      "Developed a web app that integrates TRACER and SENSEI tools. TRACER models a chatbot and generates user profiles, while SENSEI runs these profiles against the chatbot to evaluate its behavior. The frontend was done with React, while the backend was built with Django. ",
    techs: ["Django", "React", "Docker", "Celery", "PostgreSQL"],
    screenshotSrc: "/screenshots/chatbot-dojo.webp",
    liveLink: "http://miso.ii.uam.es:8081/",
    videoLink: "https://www.youtube.com/watch?v=dFsbN1FKGVg",
    githubLink: "https://github.com/satori-chatbots/chatbot-dojo",
    type: "Professional",
  },
  {
    title: "Obsidian Smart Export",
    description:
    "Obsidian plugin (600+ downloads) that exports multiple linked notes into a single document. This allows to aggregate all the notes of a given topic into a single document for printing, studying, or LLM analysis. To do this, users select a root note and a link depth, then, the wikilinks to other notes are explored in a BFS (Breadth-First Search) way and merged into a single document until the given depth is reached.",
    screenshotSrc: "/screenshots/obsidian-smart-export.webp",
    techs: ["TypeScript", "BFS", "Obsidian"],
    githubLink: "https://github.com/LittleHaku/obsidian-smart-export",
    type: "Personal"
  },
  {
    title: "Drumscribe AI",
    description:
    "AI model that transcribed a drumset audio recording into MIDI. This was done by generating a mel spectrogram of the audio input, then extracts features using a CNN that progressively reduces spectral resolution while increasing channel depth. These features are fed into a bidirectional LSTM to model temporal dynamics, followed by two heads that detect onsets and predict hit velocities for each drum element. This was done as a personal project, then I also used it for a Deep Learning for Audio Signal Course, so the slides I did are also available (check the \"Live\" link).",
    screenshotSrc: "/screenshots/drumscribe-ai.webp",
    techs: ["PyTorch", "Python", "Deep Learning"],
    githubLink: "https://github.com/LittleHaku/DrumScribe-AI",
    liveLink: "https://docs.google.com/presentation/d/e/2PACX-1vRZMLv54Lwds3XjPzL-EkvlxaNIu4ZqrGLiD8GjuV42B5Cri0M5aMMj-cHX-8UGUVEaHpDuh8Z1HQRC/pub",
    type: "Personal"
  },
  {
    title: "U.D.I.N.",
    description: "Windows desktop application developed for a team of mechanical engineers that lets them input all the data related to a vehicle and its modifications thanks to a dynamic form. Then, generates all the Word documents needed for the homologation.",
    screenshotSrc: "/screenshots/UDIN.webp",
    techs: ["C#", "WPF"],
    type: "Professional",
  },
  {
    title: "Spotify Reviews Sentiment Analysis",
    description: " Sentiment analysis of Spotify Reviews. This was a personal project I did to learn about Natural Language Processing (NLP). The idea was to analyze Spotify reviews and detect if they were positive or negative. The fun part was that I tried to make it as from scratch as possible, so I didn't use any library that did the sentiment analysis for me. I did the preprocessing myself, even implemented my own stemming algorithm. Then I tried converting each word to an ID (didn't work well) and then I used a Bag of Words approach to convert the reviews to a matrix. Then I used a TensorFlow neural network to classify the reviews. The pretrained model is included in the repo.",
    screenshotSrc: "/screenshots/spotify.webp",
    githubLink:"https://github.com/LittleHaku/spotify-reviews-sentiment-analysis",
    techs: ["Python", "TensorFlow", "NLP"],
    type: "Personal"
  }
];
---

<div class="grid gap-8 md:grid-cols-2">
  {PROJECTS.map((project) => <ProjectItem {...project} />)}
</div>
