---
import PublicationItem from "./PublicationItem.astro";
import { PUBLICATIONS } from "../data/credentials";
---

<ol class="relative">
  {
    PUBLICATIONS.map((pub) => (
      <li>
        <PublicationItem {...pub} />
      </li>
    ))
  }
</ol>
