<a
    class="rounded flex justify-center items-center gap-x-2 py-2 px-2 mt-2 xs:m bg-secondary-100 hover:scale-110 transition hover:shadow-white"
    {...Astro.props}
    target="_blank"
    rel="noopener noreferrer"
>
    <div class="flex text-primary-400 gap-2">
        <slot />
    </div>
</a>
