---
import Header from '../components/Header.astro'
import '../styles/global.css'
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
	</head>
	<body class="relative text-black dark:text-white">
		<slot />
        <Header />
	</body>
</html>

<style is:global>
    :root {
        color-scheme: light;
    }

    html {
        font-family: "Onest Variable", system-ui, sans-serif;
        scroll-behavior: smooth;
    }

	body {
        background: #fff;
        display: flex;
        justify-content: center;
        flex-direction: column;
        min-height: 100vh;
        overscroll-behavior: none;
	}
</style>
