---
import Header from '../components/Header.astro'
import '../styles/global.css'
// Supports weights 400-900
import '@fontsource-variable/playfair-display';
// Supports weights 100-900
import '@fontsource-variable/roboto';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
	</head>
	<body class="relative text-black dark:text-white">
		<slot />
        <Header />
	</body>
</html>

<style is:global>
    :root {
        color-scheme: light;
        --font-serif: "Playfair Display Variable", ui-serif, Georgia, serif;
        --font-sans: "Roboto Variable", ui-sans-serif, Helvetica, Arial, sans-serif;
    }

    html {
        font-family: "Roboto Variable", ui-sans-serif, Helvetica, Arial, sans-serif;
        font-weight: 400;
        scroll-behavior: smooth;
    }

	body {
        background: #fff;
        display: flex;
        justify-content: center;
        flex-direction: column;
        min-height: 100vh;
        overscroll-behavior: none;
	}
</style>
