---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="{description}" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<div
			class="absolute top-0 bottom-0 z-[-2] min-h-screen w-full  bg-primary-400 bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,var(--highlight-rgba),rgba(255,255,255,0))]"
		>
		</div>
		<Header />
		<slot />
		<Footer />
	</body>

	<style is:global>
		@font-face {
			font-family: "Satoshi-Variable";
			src:
				url("../fonts/Satoshi-Variable.woff2") format("woff2"),
				url("../fonts/Satoshi-Variable.woff") format("woff"),
				url("../fonts/Satoshi-Variable.ttf") format("truetype");
			font-weight: 300 900;
			font-display: swap;
			font-style: normal;
		}

		@font-face {
			font-family: "CabinetGrotesk-Variable";
			src:
				url("../fonts/CabinetGrotesk-Variable.woff2") format("woff2"),
				url("../fonts/CabinetGrotesk-Variable.woff") format("woff"),
				url("../fonts/CabinetGrotesk-Variable.ttf") format("truetype");
			font-weight: 100 900;
			font-display: swap;
			font-style: normal;
		}

		:root {
			--highlight-rgba: rgba(233, 60, 60, 0.3);
			color-scheme: light dark;
		}
		html {
			font-family: "Satoshi-Variable", "CabinetGrotesk-Variable",
				system-ui, sans-serif;
			scroll-behavior: smooth;
		}

		body {
			background: #0c0d0e;
			display: flex;
			flex-direction: column;
			min-height: 100vh;
		}

		h1 {
			font-size: 3.815rem;
			font-family: "Satoshi-Variable";
			font-weight: 700;
		}

		h2 {
			font-size: 3.052rem;
			font-family: "Satoshi-Variable";
			font-weight: 700;
		}

		h3 {
			font-size: 2.441rem;
			font-family: "Satoshi-Variable";
			font-weight: 700;
		}

		p {
			font-size: 1rem;
			font-family: "CabinetGrotesk-Variable";
			font-weight: 700;
			max-width: 800px;
		}

		a {
			font-size: 1rem;
			font-family: "CabinetGrotesk-Variable";
			font-weight: 700;
		}

		ul {
			font-size: 1rem;
			font-family: "CabinetGrotesk-Variable";
			font-weight: 700;
			max-width: 800px;
		}

		@media (prefers-reduced-motion: reduce) {
			html {
				scroll-behavior: auto;
			}
		}
	</style>
</html>
